{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <h4>Checkout</h4>
                <hr>
                {% if order.get_cart_items > 0 %}
                    <form id="form">
                        {% csrf_token %}
                        <label for="shipping_address">Select shipping address</label>
                        <br>
                        <select name="shipping_address" class="address-bar">
                            <option value="new" selected>Add new</option>
                            <!--Adds drop down of all saved shipping addresses-->
                            {% for address in shippingAddresses %}
                                <option value="{{address.id}}">{{address}}</option>
                            {% endfor %}
                        </select>

                        <div id="shipping-info">
                            <br>
                            <p>Shipping Information:</p>
                            <div class="form-field">
                                <input class="form-control" type="text" name="address" placeholder="Address..">
                            </div>
                            <div class="form-field">
                                <input class="form-control" type="text" name="city" placeholder="City..">
                            </div>
                            <div class="form-field">
                                <input class="form-control" type="text" name="state" placeholder="State..">
                            </div>
                            <div class="form-field">
                                <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
                            </div>
                        </div>

                        <hr>
                        <input id="form-button" class="btn btn-block" type="submit" value="Continue">
                    </form>
                {% else %}
                    <!--If no products in cart, customer redirected to homepage-->
                    <p class="text-center">Add some items to your cart before checking out! Visit our <a href="/store">Store</a>!</p>
                {% endif %}
            </div>

            <br>
            <div class="box-element hidden" id="payment-info">
                <h4>Payment Options</h4>
                <button class="btn" id="razorpay" >Razorpay</button> 
                <button class="btn" id="cod">Cash on Delivery</button> 
                <hr>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
                
                <hr>
                <h4>Payment Summary</h4>
                <hr>

                {% for item in items %}
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{{item.product.ImageURL}}"></div>
					<div style="flex:2"><p>{{item.product.name}}</p></div>
					<div style="flex:1"><p>Rs.{{item.product.price}}</p></div>
					<div style="flex:1"><p>x{{item.quantity}}</p></div>
                </div>
                {% endfor %}
                <h5>Items:   {{order.get_cart_items}}</h5>
				<h5>Total:   Rs. {{order.get_cart_total}}</h5>
            </div>
        </div>
    </div>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script type="text/javascript">
    var total = '{{order.get_cart_total}}'

    var form = document.getElementById('form')

    csrftoken = form.getElementsByTagName("input")[0].value
    console.log('Newtoken: ', csrftoken)

    //Saves shipping address data basis option selected by customer
    form.addEventListener('change', function(event) {
        console.log(event.target.form)
        let shippinginfo = document.getElementById("shipping-info");
        if (event.target.form.shipping_address.value !== "new") {
            shippinginfo.style.display = "none";    //Hides shipping details form if saved address selected
        } else {
            shippinginfo.style.display = "";
        }
    });

    //Reveals payment options once shipping address successfully selected & confirmed
    form.addEventListener("submit", function(e){
        e.preventDefault()
        console.log('Form submitted.')
        document.getElementById('form-button').classList.add("hidden");
        document.getElementById('payment-info').classList.remove("hidden");
    })


    document.getElementById('razorpay').addEventListener('click', function(e){
        var COD = false;
        submitFormData(COD) //COD flag used to manage payment processing
    })

    document.getElementById('cod').addEventListener('click', function(e){
        var COD = true;
        submitFormData(COD)
    })


    function submitFormData(COD){
        console.log("Payment button clicked.")

        var userFormData = {
            'name': null,
            'email': null,
            'total': total, 
        }

        console.log(form)
        var shippingInfo = {}

        if (form.shipping_address.value !== "new") {
            shippingInfo = {'id': form.shipping_address.value}  //Reads ID if saved address selected
        }
        else {
            shippingInfo = {
            'address': form.address.value,
            'city': form.city.value,
            'state': form.state.value, 
            'zipcode': form.zipcode.value,
        }
        }

        var url = '/process_order/'

        //Fetch API invoked to send HTTP request to run process_order view
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-type': 'application/json', 
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({'form': userFormData, 'shipping': shippingInfo, 'COD': COD})
        })
        .then((response) => response.json())

        .then((data) => {
            //If Razorpay selected, HTTP response will include razorpay order data, 
            //which will be used to send payment request to razorpay via Razorpay API

            if (!COD) {
                var options = {
                "key": "rzp_test_95n7g5IxLaQMGz",
                "amount": (total * 100).toString(),
                "currency": "INR",
                "name": "KareKraft",
                "description": "KareKraft Checkout",
                "order_id": data['razorpay_order']["order_id"],
                "handler": function (response) {
                    postProcess(COD, response.razorpay_payment_id, response.razorpay_order_id, response.razorpay_signature);

                    console.log('Success: ', data);
                },
            };
            var rzp1 = new Razorpay(options);
            rzp1.on('payment.failed', function(response) {
                alert(response.error.description);
            });

            rzp1.open();    //Allows user to keep re-attempting payment until it is successful & verified    
            }
            
            else {
                postProcess(COD);
            }
        })
    }

    function postProcess(COD, payment_id=null, order_id=null, signature=null) {
        var url = '/post_process/'

        //Fetch API sends HTTP request to post_process view with payment verification data such as payment ID & signature
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-type': 'application/json', 
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({
                'payment_id': payment_id, 
                'order_id': order_id,
                'signature': signature,
                'COD': COD, 
            })
        })

        .then((response) => {
            return response.json();
        })

        .then((data) => {
            document.cookie = 'cart=' + JSON.stringify({}) + ";domain=;path=/";
            alert(data)
            window.location.href = "{% url 'store' %}"  
            //After order is successfully placed (indicated by HTTP response), customer redirected to homepage
        })
    }

</script>
{% endblock content %}