{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <h4>Checkout</h4>
                <hr>
                <form id="form">
                    {% csrf_token %}
                    <label for="shipping_address">Select shipping address</label>
                    <select name="shipping_address">
                        <option value="new" selected>Add new</option>
                        {% for address in shippingAddresses %}
                            <option value="{{address.id}}">{{address}}</option>
                        {% endfor %}
                    </select>
                    <div id="shipping-info">
						<p>Shipping Information:</p>
						<div class="form-field">
							<input class="form-control" type="text" name="address" placeholder="Address..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="city" placeholder="City..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="state" placeholder="State..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
						</div>
                    </div>

                    <hr>
                    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                </form>


            </div>

            <br>
            <div class="box-element hidden" id="payment-info">
                <h4>Payment Options</h4>
                <button id="razorpay" >Razorpay</button> 
                <button id="cod">Cash on Delivery</button> 
                <hr>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
                
                <hr>
                <h4>Payment Summary</h4>
                <hr>

                {% for item in items %}
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{{item.product.ImageURL}}"></div>
					<div style="flex:2"><p>{{item.product.name}}</p></div>
					<div style="flex:1"><p>Rs.{{item.product.price}}</p></div>
					<div style="flex:1"><p>x{{item.quantity}}</p></div>
                </div>
                {% endfor %}
                <h5>Items:   {{order.get_cart_items}}</h5>
				<h5>Total:   Rs. {{order.get_cart_total}}</h5>
            </div>
        </div>
    </div>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script type="text/javascript">
    var total = '{{order.get_cart_total}}'

    var form = document.getElementById('form')

    csrftoken = form.getElementsByTagName("input")[0].value
    console.log('Newtoken: ', csrftoken)

    form.addEventListener("submit", function(e){
        e.preventDefault()
        console.log('Form submitted.')
        document.getElementById('form-button').classList.add("hidden");
        document.getElementById('payment-info').classList.remove("hidden");
    })


    document.getElementById('razorpay').addEventListener('click', function(e){
        var COD = false;
        submitFormData(COD)
    })

    document.getElementById('cod').addEventListener('click', function(e){
        var COD = true;
        submitFormData(COD)
    })


    function postProcess(COD, payment_id=null, order_id=null, signature=null) {
        var url = '/post_process/'

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-type': 'application/json', 
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({
                'payment_id': payment_id, 
                'order_id': order_id,
                'signature': signature,
                'COD': COD, 
            })
        })

        .then((response) => {
            return response.json();
        })

        .then((data) => {
            document.cookie = 'cart=' + JSON.stringify({}) + ";domain=;path=/";
            alert(data)
            window.location.href = "{% url 'store' %}"
        })
    }


    function submitFormData(COD){
        console.log("Payment button clicked.")

        var userFormData = {
            'name': null,
            'email': null,
            'total': total, 
        }

        console.log(form)
        if (form.shipping_address !== "new") {
            var shippingInfo = {'id': form.shipping_address}
        }

        else {
            var shippingInfo = {
            'address': form.address.value,
            'city': form.city.value,
            'state': form.state.value, 
            'zipcode': form.zipcode.value,
        }
        }

        var url = '/process_order/'

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-type': 'application/json', 
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({'form': userFormData, 'shipping': shippingInfo, 'COD': COD})
        })
        .then((response) => response.json())

        .then((data) => {
            if (!COD) {
                var options = {
                "key": "rzp_test_95n7g5IxLaQMGz",
                "amount": (total * 100).toString(),
                "currency": "INR",
                "name": "KareKraft",
                "description": "KareKraft Checkout",
                "order_id": data['razorpay_order']["order_id"],
                "handler": function (response) {
                    alert(response.razorpay_payment_id);
                    alert(response.razorpay_order_id);
                    alert(response.razorpay_signature);

                    postProcess(COD, response.razorpay_payment_id, response.razorpay_order_id, response.razorpay_signature);

                    console.log('Success: ', data);
                },
            };

            var rzp1 = new Razorpay(options);
            rzp1.on('payment.failed', function(response) {
                alert(response.error.description);
            });

            rzp1.open();     
            }
            
            else {
                postProcess(COD);
            }
         
        })
    }
</script>
{% endblock content %}