{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <h2 class="store-heading">Scrubs</h2>
    <div class="row">
        {% for product in products %}
            {% if product.category == "Scrub" %}
            <div class="col-lg-4">
                <img class="thumbnail" src={{product.ImageURL}}>
                <div class="store-box-element product">
                    <h5 class="store-text"><strong>{{product.name}}</strong></h5> 
                    <p class="store-text">{{product.desc}}</p>

                    {% if product.stock != 0 %}
                    <button data-product={{product.id}} data-action="add"
                    class="btn btn-outline add-btn update-cart">Add to Cart</button>
                    
                    <h5 class="store-text d-inline float-right mr-2">Rs. {{product.price}}</h5>
                    {% else %}
                    <h5 class="store-text d-inline float-center">Out of Stock</h5>                
                    {% endif %}
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <h2 class="store-heading">Masks</h2>
    <div class="row">
        {% for product in products %}
            {% if product.category == "Mask" %}
            <div class="col-lg-4">
                <img class="thumbnail" src={{product.ImageURL}}>
                <div class="store-box-element product">
                    <h5 class="store-text"><strong>{{product.name}}</strong></h5> 
                    <p class="store-text">{{product.desc}}</p>

                    {% if product.stock != 0 %}
                    <button data-product={{product.id}} data-action="add"
                    class="btn btn-outline add-btn update-cart">Add to Cart</button>
                    
                    <h5 class="store-text d-inline float-right mr-2">Rs. {{product.price}}</h5>
                    {% else %}
                    <h5 class="store-text d-inline float-center">Out of Stock</h5>                
                    {% endif %}
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <h2 class="store-heading">Oils</h2>
    <div class="row">
        {% for product in products %}
            {% if product.category == "Oil" %}
            <div class="col-lg-4">
                <img class="thumbnail" src={{product.ImageURL}}>
                <div class="store-box-element product">
                    <h5 class="store-text"><strong>{{product.name}}</strong></h5> 
                    <p class="store-text">{{product.desc}}</p>

                    {% if product.stock != 0 %}
                    <button data-product={{product.id}} data-action="add"
                    class="btn btn-outline add-btn update-cart">Add to Cart</button>
                    
                    <h5 class="store-text d-inline float-right mr-2">Rs. {{product.price}}</h5>
                    {% else %}
                    <h5 class="store-text d-inline float-center">Out of Stock</h5>              
                    {% endif %}
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <h2 class="store-heading">Serums and Mists</h2>
    <div class="row">
        {% for product in products %}
            {% if product.category == "Serum" or product.category == "Mist"%}
            <div class="col-lg-4">
                <img class="thumbnail" src={{product.ImageURL}}>
                <div class="store-box-element product">
                    <h5 class="store-text"><strong>{{product.name}}</strong></h5> 
                    <p class="store-text">{{product.desc}}</p>

                    {% if product.stock != 0 %}
                    <button data-product={{product.id}} data-action="add"
                    class="btn btn-outline add-btn update-cart">Add to Cart</button>
                    
                    <h5 class="store-text d-inline float-right mr-2">Rs. {{product.price}}</h5>
                    {% else %}
                    <h5 class="store-text d-inline float-center">Out of Stock</h5>              
                    {% endif %}
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}