{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
            <img class="thumbnail" src={{product.ImageURL}}>
            <div class="box-element product">
                <h5><strong>{{product.name}}</strong></h5>
                <hr>
                {% if product.stock != 0 %}
                <button data-product={{product.id}} data-action="add"
                class="btn btn-outline-success add-btn update-cart">Add to Cart</button>
                
                <h5 class="d-inline float-right">Rs. {{product.price}}</h5>
                {% else %}
                <h5 class="d-inline float-center">Out of Stock</h5>                
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}