{% extends "store/base.html" %}
{% block title %}Profile Page{% endblock title %}


{% block content %}

<div class="row my-3 p-3">
    <h1>Profile Page</h1>
    <p>{{customer.name}}</p>
    <p>{{customer.email}}</p>
    <a href="{% url 'edit-profile' %}" class="btn btn-warning float-right">Edit Profile</a>
</div>

<div class="col-lg-6">
    <div>
        <!-- <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a> -->
        
        <hr>
        <h4>Orders</h4>
        <hr>
        {% if order != None %}
            <table>
                <tr>
                    <th>Order ID</th>
                    <th>Products</th>
                    <th>Total</th>
                    <th>Payment Method</th>
                    <th>Paid</th>
                    <th>Status</th>
                    <th>Shipping Details</th>
                </tr>
                {% for order in orders %}
                    <tr>
                        <td>{{order.id}}</td>
                        <td>{{order.products}}</td>
                        <td>Rs.{{order.get_cart_total}}</td>
                        <td>{{order.payment_method}}</td>
                        <td>{{order.paid}}</td>
                        <td>{{order.status}}</td>
                        <td>{{order.shipping_address__address}}</td>
                    </tr>
            </table>
            {% endfor %}
        {% else %}
            <h1 class="float-center">You have yet to place any orders!</h1>
            <a href="{% url 'store' %}" class="btn btn-warning float-center">Continue Shopping</a>
        {% endif %}
    </div>
</div>

{% endblock content %}
