{% extends "store/base.html" %}
{% block title %}Profile Page{% endblock title %}


{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="box-element">
            <br>
            <h3>Profile Page</h3>
            <br>

            <table class="table">
                <tr>
                    <th><h5>Name: {{customer.name}}</h5></th>
                    <th><h5>Email: {{customer.email}}</h5></th>
                    <th>
                        <a style="float: right; margin: 5px" class="btn" href="{% url 'edit-profile' %}">Edit Profile</a>

                    </th>
                </tr>
            </table>
        </div>
        <br>
        {% if full_order_details == None %}
            <h5 class="text-center mt-5 mb-3">You have yet to place any orders!</h5>
            <p class="text-center"><a href="{% url 'store' %}">Continue Shopping!</a></p>  
        {% else %}
            <div class="box-element">
                <div class="cart-row">
                    <div style="flex: 1"><strong>Order ID</strong></div>
                    <div style="flex: 2"><strong>Date Ordered</strong></div>
                    <div style="flex: 2"><strong>Products</strong></div>
                    <div style="flex: 1"><strong>Quantity</strong></div>
                    <div style="flex: 1"><strong>Total</strong></div>
                    <div style="flex: 1"><strong>Payment Method</strong></div>
                    <div style="flex: 1"><strong>Status</strong></div>
                    <div style="flex: 2"><strong>Shipping Details</strong></div>
                </div>

                {% for order, cart in full_order_details %}
                    <div class="cart-row">
                        <div style="flex: 1"><p>{{order.id}}</p></div>
                        <div style="flex: 2"><p>{{order.date_ordered}}</p></div>
                        <div style="flex: 2">
                            {% for item in cart %}
                                <p>{{item.product.name}}</p>
                            {% endfor %}
                        </div>
                        <div style="flex: 1">
                            {% for item in cart %}
                                <p>{{item.quantity}}</p>
                            {% endfor %}
                        </div>
                        <div style="flex: 1"><p>Rs.{{order.get_cart_total}}</p></div>
                        <div style="flex: 1"><p>{{order.payment_method}}</p></div>
                        <div style="flex: 1"><p>{{order.status}}</p></div>
                        <div style="flex: 2"><p>{{order.shipping_address.address}}, 
                            {{order.shipping_address.city}},
                            {{order.shipping_address.state}},
                            {{order.shipping_address.zipcode}}</p></div>
                    </div> 
                {% endfor %}     
            </div>                      
        {% endif %}
    </div>
</div>

{% endblock content %}
